p{
    font-family: Roboto,arial;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    padding-top: 85px;
    padding-left: 85px;
    background-color: rgb(240, 242, 244);
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 5px;
    font-size: 12px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
    font-family: Roboto,arial;
    font-weight: 500;
    border-radius: 2px;
}