.header{
    height: 65px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 0.5px;
    border-bottom-color:rgb(206, 206, 206) ;
    border-bottom-style:solid ;

}
.left{
    display: flex;
    align-items: center;
    width: 200px;
}
.hamburger{
    height: 25px;
    margin-left: 24px;
    margin-right: 20px;
}
.yt-logo{
    height: 20px;
    margin-left: 10px;
}
.middle{
    flex: 1;
    margin-left: 50px;
    margin-right:45px ;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.searchbox{
    height: 34px;
    flex: 1;
    padding-left: 10px;
    border-width: 1px;
    border-style:solid ;
    border-color: gray;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.searchbox::placeholder{
    font-family: Roboto,arial;
    font-size: 16px;
}
.searchbar{
    height: 38px;
    width: 66px;
    background-color: rgb(241, 239, 239);
    border-style:solid ;
    border-color: gray;
    border-radius: 2px;
    margin-left: -1px;
}
.search-icon{
    height: 28px;
    margin-top: 3px;
}
.voice-search{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border-width: 1px;
    border-color: grey;
    margin-left: 8px;
    border-style: hidden;
}
.voice-icon{
    display: flex;
    align-items: center;
}


.right{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    flex-shrink: 0;
}
.upload{
    height: 24px;
}
.apps{
    height: 24px;
}
.notifications{
    height: 24px;
}

.channelpic{
    height: 36px;
    border-radius: 18px;
}
.main-not{
    position: relative;
}
.no-3{
    position: absolute;
    font-family: Roboto,arial;
    font-size: 500;

    font-size: 10px;
    top: 0;
    right: 0;
    background-color: rgb(255, 30, 30);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 10px;
}