.thumbnail1{
    width: 100%;
}
.pfp1{
    width:45px;
    border-radius: 40px;
    vertical-align: top;
}
.vid-info1{
    margin-top:0;
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 10px;
}
.channel-thumbnail{
    margin-bottom: 12px;
    position: relative;
}
.pfp2{
    width: 45px;
    border-radius: 40px;

}
.author1,
.vid-views1{
    font-size: 13px;
    color: rgb(96,96,96);
}
.author1{
    margin-bottom: 8px;
}
.video-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}
@media (max-width: 750px) {
    .main-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .main-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
